CompileFlags:
  CompilationDatabase: build/
  Add:
    - -Wall
    - -Wextra
    - -Wshadow
    - -std=c11
---
# 针对 C 语言源文件的特殊配置
If:
  PathMatch: .*\.(c|h)
CompileFlags:
  Add: [-xc, -std=c11]

---
# 针对 C++ 文件的配置（包含 .cpp 和 .hpp）
If:
  PathMatch: .*\.(cpp|hpp)
CompileFlags:
  Add: [-std=c++20]
Index:
  StandardLibrary: true

---
Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - clang-analyzer-*
    Remove:
      - modernize-*
      - performance-*
      - cppcoreguidelines-*
      - google-*
      - bugprone-narrowing-conversions
      - bugprone-easily-swappable-parameters
